@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.main-header {
    width: auto;
    background-color: rgb(20, 25, 30);
    margin: 0px;
    padding: 30px;
    color: white;
    text-align: center;
    line-height: 1.5em;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.backlink {
    display: flex;
    margin: 1em;
    padding: 0px;
    width: 3em;
    height: 2em;
}

@media all and (min-width: 501px) {
    
}

@media all and (max-width: 500px) {
    
}