body {
    margin: 0;
}

header {
    width: auto;
    height: 25%;
    background-color: rgb(20, 25, 30);
    margin: 0px;
    padding: 30px;
    color: white;
    text-align: center;
    line-height: 1.5em;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.backlink {
    display: flex;
    margin: 1em;
    padding: 0px;
    width: 3em;
    height: 2em;
}

h1 {
    font-size: 1.3em;
}

.header-text {
    font-size: 0.9em;
}

p {
    margin: 1em;
}